In [ ]:
pip install delta-spark==4.0.0

In [1]:
from pyspark.sql import SparkSession
from delta import configure_spark_with_delta_pip

builder = (
    SparkSession.builder
        .appName("DeltaDemo")
        .master("local[1]")
        # IMPORTANT: Delta Lake configs
        .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
        .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
)

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
from pyspark.sql import Row

data = [
    Row(id=1, name="Ravi",  salary=50000.0),
    Row(id=2, name="Priya", salary=60000.0),
    Row(id=3, name="John",  salary=45000.0),
]

df = spark.createDataFrame(data)

delta_path = "file:///c:/data/delta/emp"

# Write as Delta table (overwrite mode)
df.write.format("delta").mode("overwrite").save(delta_path)

In [4]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  1| Ravi|50000.0|
|  2|Priya|60000.0|
|  3| John|45000.0|
+---+-----+-------+

In [5]:
new_data = [
    (4, "Anita", 52000.0),
    (5, "Kumar", 62000.0),
]
cols =["id","name","salary"]
new_df = spark.createDataFrame(new_data, cols)

new_df.write.format("delta").mode("append").save(delta_path)

In [6]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  1| Ravi|50000.0|
|  2|Priya|60000.0|
|  3| John|45000.0|
|  4|Anita|52000.0|
|  5|Kumar|62000.0|
+---+-----+-------+

In [31]:
df_v1 = spark.read.format("delta").option("versionAsOf", 3).load(delta_path)
df_v1.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  4|Anita|52000.0|
|  5|Kumar|62000.0|
|  2|Priya|60000.0|
|  3| John|45000.0|
+---+-----+-------+

In [25]:
from delta.tables import DeltaTable

dt = DeltaTable.forPath(spark, delta_path)

dt.history().select(
    "version",
    "timestamp",
    "operation",
    "operationParameters"
).show(truncate=False)

+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|version|timestamp              |operation|operationParameters                                                                                                                                                            |
+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|4      |2025-12-05 12:33:06.947|MERGE    |{predicate -> ["(id#3887L = id#8464L)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|
|3      |2025-12-05 12:25:35.677|DELETE   |{predicate -> ["(id#3887L = 1)"]}                                                                                                                                              |
|2      |2025-12-05 12:23:36.514|UPDATE   |{predicate -> ["(id#3887L = 1)"]}                                                                                                                                              |
|1      |2025-12-05 12:18:00.636|WRITE    |{mode -> Append, partitionBy -> []}                                                                                                                                            |
|0      |2025-12-05 12:15:43.233|WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |
+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [32]:
from delta.tables import DeltaTable
from pyspark.sql.functions import *
delta_table = DeltaTable.forPath(spark, delta_path)

delta_table.update(
    condition="id = 1 ",
    set={
        "salary": "salary +1000"
    }
)

{"ts": "2025-12-05 12:44:40.691", "level": "ERROR", "logger": "SQLQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `abc` cannot be resolved. Did you mean one of the following? [`id`, `name`, `salary`]. SQLSTATE: 42703", "context": {"errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o313.update.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `abc` cannot be resolved. Did you mean one of the following? [`id`, `name`, `salary`]. SQLSTATE: 42703; line 1 pos 0;\n'DeltaUpdateTable [salary#12625], ['abc], (id#12623L = cast(1 as bigint))\n+- Relation [id#12623L,name#12624,salary#12625] parquet\n\r\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\r\n\tat scala.collection.immutable.List.foreach(List.scala:334)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\r\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\r\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\r\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\r\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\r\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\r\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\r\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\r\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\r\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\r\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\r\n\tat scala.util.Try$.apply(Try.scala:217)\r\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\r\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\r\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\r\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\r\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\r\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)\r\n\tat org.apache.spark.sql.delta.DataFrameUtils$.ofRows(DataFrameShims.scala:25)\r\n\tat org.apache.spark.sql.delta.util.AnalysisHelper.toDataset(AnalysisHelper.scala:92)\r\n\tat org.apache.spark.sql.delta.util.AnalysisHelper.toDataset$(AnalysisHelper.scala:91)\r\n\tat io.delta.tables.DeltaTable.toDataset(DeltaTable.scala:45)\r\n\tat io.delta.tables.execution.DeltaTableOperations.$anonfun$executeUpdate$2(DeltaTableOperations.scala:87)\r\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\tat org.apache.spark.sql.delta.DeltaTableUtils$.withActiveSession(DeltaTable.scala:572)\r\n\tat io.delta.tables.execution.DeltaTableOperations.$anonfun$executeUpdate$1(DeltaTableOperations.scala:81)\r\n\tat org.apache.spark.sql.delta.util.AnalysisHelper.improveUnsupportedOpError(AnalysisHelper.scala:109)\r\n\tat org.apache.spark.sql.delta.util.AnalysisHelper.improveUnsupportedOpError$(AnalysisHelper.scala:95)\r\n\tat io.delta.tables.DeltaTable.improveUnsupportedOpError(DeltaTable.scala:45)\r\n\tat io.delta.tables.execution.DeltaTableOperations.executeUpdate(DeltaTableOperations.scala:81)\r\n\tat io.delta.tables.execution.DeltaTableOperations.executeUpdate$(DeltaTableOperations.scala:78)\r\n\tat io.delta.tables.DeltaTable.executeUpdate(DeltaTable.scala:45)\r\n\tat io.delta.tables.DeltaTable.update(DeltaTable.scala:306)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\r\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\r\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\r\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:568)\r\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\r\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\r\n\tat py4j.Gateway.invoke(Gateway.java:282)\r\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\r\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\r\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\r\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\r\n\tat java.base/java.lang.Thread.run(Thread.java:842)\r\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\r\n\t\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\r\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\r\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\r\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\r\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\r\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\r\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\r\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\r\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\r\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\r\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\r\n\t\tat scala.util.Try$.apply(Try.scala:217)\r\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\r\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\r\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\r\n\t\t... 33 more\r\n", "stacktrace": [{"class": null, "method": "deco", "file": "C:\\Python311\\Lib\\site-packages\\pyspark\\errors\\exceptions\\captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "C:\\Python311\\Lib\\site-packages\\py4j\\protocol.py", "line": "327"}]}}

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `abc` cannot be resolved. Did you mean one of the following? [`id`, `name`, `salary`]. SQLSTATE: 42703; line 1 pos 0;
'DeltaUpdateTable [salary#12625], ['abc], (id#12623L = cast(1 as bigint))
+- Relation [id#12623L,name#12624,salary#12625] parquet

In [21]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  4|Anita|52000.0|
|  5|Kumar|62000.0|
|  2|Priya|60000.0|
|  3| John|45000.0|
+---+-----+-------+

In [16]:
delta_table.delete("id = 1")

In [19]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  4|Anita|52000.0|
|  5|Kumar|62000.0|
|  2|Priya|60000.0|
|  3| John|45000.0|
+---+-----+-------+

In [27]:
changes_data = [
    (1, "Ravi",55000.0),  
    (3, "John",58000.0),  
    (7, "Meena",63000.0),  
]
cols =["id","name","salary"]
changes_df = spark.createDataFrame(changes_data, cols)
changes_df.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  1| Ravi|55000.0|
|  3| John|58000.0|
|  7|Meena|63000.0|
+---+-----+-------+

In [23]:
delta_table.alias("t").merge(
    source=changes_df.alias("s"),
    condition="t.id = s.id"             # join condition
).whenMatchedUpdate(
    set={
        "name":   "s.name",
         "salary": "s.salary"
    }
).whenNotMatchedInsert(
    values={
        "id": "s.id",
        "name":   "s.name",
        "salary": "s.salary"
    }
).execute()

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

In [24]:
df2 = spark.read.format("delta").load(delta_path)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  1| Ravi|55000.0|
|  2|Priya|60000.0|
|  3| John|58000.0|
|  7|Meena|63000.0|
|  4|Anita|52000.0|
|  5|Kumar|62000.0|
+---+-----+-------+

In [36]:
from delta.tables import DeltaTable

dt = DeltaTable.forPath(spark, delta_path)

dt.history().select(
    "version",
    "timestamp",
    "operation",
    "operationParameters"
).show(truncate=False)

+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|version|timestamp              |operation|operationParameters                                                                                                                                                            |
+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|5      |2025-12-04 19:51:05.324|MERGE    |{predicate -> ["(id#3192L = id#5308L)"], matchedPredicates -> [{"actionType":"update"}], notMatchedPredicates -> [{"actionType":"insert"}], notMatchedBySourcePredicates -> []}|
|4      |2025-12-04 19:41:00.409|DELETE   |{predicate -> ["(id#3192L = 1)"]}                                                                                                                                              |
|3      |2025-12-04 19:32:20.792|UPDATE   |{predicate -> ["(id#3192L = 1)"]}                                                                                                                                              |
|2      |2025-12-04 19:30:13.66 |UPDATE   |{predicate -> ["(id#2129L = 1)"]}                                                                                                                                              |
|1      |2025-12-04 19:21:56.013|WRITE    |{mode -> Append, partitionBy -> []}                                                                                                                                            |
|0      |2025-12-04 19:09:18.268|WRITE    |{mode -> Overwrite, partitionBy -> []}                                                                                                                                         |
+-------+-----------------------+---------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [31]:
df_v1 = spark.read.format("delta").option("versionAsOf", 3).load(delta_path)
df_v1.show()

+---+-----+------------------+
| id| name|            salary|
+---+-----+------------------+
|  1| Ravi|60500.000000000015|
|  2|Priya|           60000.0|
|  3| John|           45000.0|
|  4|Anita|           52000.0|
|  5|Kumar|           62000.0|
+---+-----+------------------+